* {
    font-family: Tahoma, arial;
    font-size: 15px;    
}

body {
    margin: 0 12%;
}
header {
	background-color: #fcfcfc;
	position: sticky;
	top: 0;
	width: 100%;
    height: 100px;
}
.license{
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
}

.logo {
    float: left;
}

.logo img {
    width: 70px;
    float: left;
    margin-top: 16px;
    margin-left: 150px
}

.logo-text {
    float: left;
    margin-top: 42px;
    font-weight: bold;
    font-family: courier;
    font-size: 20px;
}

.menu {
    float: right;
}

ul li {
    display: inline;
    margin: 4px;
}
nav{
	margin-top: 23px;
	margin-right: 150px;
}

.cuc-bai-viet {
	overflow: scroll;
	display: inline-block;
    width: 30%;
    height: 200px;
    float: left;
    margin: 15.5px;
}
.intro{
	width: 100%;
	height: 90px;
	border-top: 3px solid #333;
	border-bottom: 3px solid #333;
	background-color: #6fa8dc;
}
.cover{
	width: 99.6%;
	height: 701px;
	border-left: 3px solid #333;
	border-right: 3px solid #333;
	border: 3px solid #333;
}
}
section{
	margin-top: 25px;
	margin-right: 50px;
	margin-left: 90px;
	border: 2px solid #333;
}
.cuc-bai-viet img{
	width: 230px;
	height: 100px;
	margin-top: 10px;
}
.clear-both {
    clear: both;
}
a{
	font-size: 20px;
}
.footer{
	width: 100%;
	height: 40px;
	border-top: 3px solid #333;
	background-color: #6fa8dc;
}
.intro .quote{
	text-align: center;
	color: white;
	font-style: italic;
	margin-right: 0px;
	margin-top: 20px;
}
.intro p{
	text-align: right;
	color: white;
	margin-right: 200px;
}
.cuc-bai-viet h1{
	margin-left: 60px;
	margin-bottom: 100px;
	color: red;
	font-size: 15px;
}
.backtotop{
	display: scroll;
	position: fixed;
	bottom: 5px;
	right: 5px;
}
.backtotop img{
	width: 30%;
	float: right;
	padding: 10px;
}